@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* variables */

:root {
    --primary-violet: #674baf;
    --primary-soft-magenta: #e882e8;
}

/* gobals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--primary-violet) url(images/bg-desktop.svg);
    color: #fff;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

/* Header section */

header {
    margin: 50px 80px;
}

header img {
    width: 200px;
}

/* main section */

main {
    display: flex;
    gap: 50px;
    margin: 0 80px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 170px;
    width: 40%;
}

.right h1 {
    font-size: 2rem;
    font-weight: 600;
    word-spacing: 3px;
    padding-right: 150px;
}

.right p {
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing:1px;
    font-weight: 400;
    padding-right: 30px;
}

.right .btn {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    color: var(--primary-violet);
    box-shadow: 3px 3px 8px #333;
}

.right .btn:hover {
    background: var(--primary-soft-magenta);
    color: #fff;
}

/* footer section */

footer {
    display: flex;
    margin: 0 80px;
    justify-content: end;
    gap: 20px;
}

.media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.media-icon:hover {
    border: 2px solid var(--primary-soft-magenta);
    color: var(--primary-soft-magenta);
}

/* media queries */

@media screen and (max-width:768px) {
    main {
        flex-direction: column;
    }

    .left {
        text-align: center;
    }

    .left img {
        width: 70vw;
    }

    .right {
        width: 70vw;
        margin-bottom: 20px;
        margin-left: 30px;
        text-align: center;
    }

    .right h1 {
        padding-right: inherit;
    }

    .right p {
        padding-right: inherit;
    }

    .right .btn {
        align-self: center;
        margin: 20px 0;
    }

    footer {
        justify-content: center;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 400px) {

    body {
        background: var(--primary-violet) url(images/bg-mobile.svg);
        background-repeat: no-repeat;
    }

    header {
        margin: 25px 40px;
    }

    header img {
        width: 150px;
    }

    main {
        margin: 0 25px;
        gap: 25px;
    }

    .right {
        margin: 0 25px;
    }

    .right h1 {
        font-size: 1.5rem;
    }

    .right p {
        font-size: 14px;
        letter-spacing: normal;
        margin-top: 10px;
    }

    .right .btn {
        width: 70%;
        height: 40px;
    }

     footer {
        margin-top: 20px;
     }

}